### Movie Recommender Analysis
### Abed Tabbalat

In [1]:
# Import Packages
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [3]:
# Load data
movies_df = pd.read_csv('Movies.csv')  # replace with actual path
ratings_df = pd.read_csv('Ratings.csv')  # replace with actual path

##### Movies Dataframe

In [4]:
# movies df info
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [5]:
# movies description
movies_df.describe()

             movieId
count   58098.000000
mean   111919.516197
std     59862.660956
min         1.000000
25%     72437.750000
50%    126549.000000
75%    161449.500000
max    193886.000000

In [7]:
# show movies df
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

##### Ratings Dataframe

In [8]:
# Ratings df info
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [9]:
# ratings description
ratings_df.describe()

             userId       movieId        rating     timestamp
count  2.775344e+07  2.775344e+07  2.775344e+07  2.775344e+07
mean   1.419420e+05  1.848800e+04  3.530445e+00  1.193122e+09
std    8.170740e+04  3.510263e+04  1.066353e+00  2.160482e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    7.117600e+04  1.097000e+03  3.000000e+00  9.986053e+08
50%    1.420220e+05  2.716000e+03  3.500000e+00  1.174256e+09
75%    2.124590e+05  7.150000e+03  4.000000e+00  1.422744e+09
max    2.832280e+05  1.938860e+05  5.000000e+00  1.537945e+09

In [10]:
# show ratings df
ratings_df

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

##### Analysis

In [11]:
# Merge movies and ratings dataframes
df = pd.merge(ratings_df, movies_df, on='movieId')
df

,userId,movieId,rating,timestamp,title,genres
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,6,307,4.0,832059248,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
2,56,307,4.0,1383625728,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,71,307,5.0,1257795414,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
4,84,307,3.0,999055519,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
...,...,...,...,...,...,...
27753439,282403,167894,1.0,1524243885,Stranglehold (1994),Action
27753440,282732,161572,3.5,1504408070,The Great Houdini (1976),Drama
27753441,283000,117857,3.5,1417317969,Hotline (2014),Documentary
27753442,283000,133409,3.5,1431539331,Barnum! (1986),(no genres listed)
27753443,283000,142855,3.5,1442889934,Paul Taylor Creative Domain (2014),Documentary

In [14]:
# Filter to include only top 1000 most rated movies
top_movies = ratings_df.movieId.value_counts().index[:1000]
df = df[df.movieId.isin(top_movies)]
df

,userId,movieId,rating,timestamp,title,genres
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,6,307,4.0,832059248,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
2,56,307,4.0,1383625728,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,71,307,5.0,1257795414,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
4,84,307,3.0,999055519,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
...,...,...,...,...,...,...
24976553,283101,2366,2.5,1092337860,King Kong (1933),Action|Adventure|Fantasy|Horror
24976554,283116,2366,4.0,1000820168,King Kong (1933),Action|Adventure|Fantasy|Horror
24976555,283153,2366,4.0,1047143351,King Kong (1933),Action|Adventure|Fantasy|Horror
24976556,283187,2366,3.5,1397341537,King Kong (1933),Action|Adventure|Fantasy|Horror
24976557,283195,2366,3.5,1079282013,King Kong (1933),Action|Adventure|Fantasy|Horror

In [15]:
# Pivot and create movie-user matrix
movie_user_matrix = df.pivot(index='movieId', columns='userId', values='rating').fillna(0)
movie_user_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,283219,283220,283221,283222,283223,283224,283225,283226,283227,283228
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,5.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
2,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
152081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Create mapper from movie title to index
hashmap = {
    movie: i for i, movie in enumerate(
        list(movies_df.set_index('movieId').loc[movie_user_matrix.index].title)
    )
}
hashmap

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Father of the Bride Part II (1995)': 3,
 'Heat (1995)': 4,
 'Sabrina (1995)': 5,
 'GoldenEye (1995)': 6,
 'American President, The (1995)': 7,
 'Casino (1995)': 8,
 'Sense and Sensibility (1995)': 9,
 'Ace Ventura: When Nature Calls (1995)': 10,
 'Get Shorty (1995)': 11,
 'Copycat (1995)': 12,
 'Powder (1995)': 13,
 'Leaving Las Vegas (1995)': 14,
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)': 15,
 'Dangerous Minds (1995)': 16,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 17,
 'Babe (1995)': 18,
 'Dead Man Walking (1995)': 19,
 'Clueless (1995)': 20,
 'Mortal Kombat (1995)': 21,
 'To Die For (1995)': 22,
 'Seven (a.k.a. Se7en) (1995)': 23,
 'Pocahontas (1995)': 24,
 'Usual Suspects, The (1995)': 25,
 'Mighty Aphrodite (1995)': 26,
 'Postman, The (Postino, Il) (1994)': 27,
 'Indian in the Cupboard, The (1995)': 28,
 "Mr. Holland's Opus (1995)": 29,
 'From Dusk Till Dawn (1996)': 30,
 'Broken Arrow (1996)': 31,
 'Happy Gilmore (1996)': 32,
 'Bridges of Madison County, The (1995)': 33,
 'Muppet Treasure Island (1996)': 34,
 'Braveheart (1995)': 35,
 'Taxi Driver (1976)': 36,
 'Rumble in the Bronx (Hont faan kui) (1995)': 37,
 'Down Periscope (1996)': 38,
 'Birdcage, The (1996)': 39,
 'Bad Boys (1995)': 40,
 'Apollo 13 (1995)': 41,
 'Rob Roy (1995)': 42,
 'Batman Forever (1995)': 43,
 'Casper (1995)': 44,
 'Congo (1995)': 45,
 'Crimson Tide (1995)': 46,
 'Desperado (1995)': 47,
 'Die Hard: With a Vengeance (1995)': 48,
 'First Knight (1995)': 49,
 'Hackers (1995)': 50,
 'Johnny Mnemonic (1995)': 51,
 'Judge Dredd (1995)': 52,
 'Mallrats (1995)': 53,
 'Net, The (1995)': 54,
 'Nine Months (1995)': 55,
 'Showgirls (1995)': 56,
 'Species (1995)': 57,
 'Strange Days (1995)': 58,
 'Under Siege 2: Dark Territory (1995)': 59,
 'Waterworld (1995)': 60,
 'Before Sunrise (1995)': 61,
 'Billy Madison (1995)': 62,
 'Clerks (1994)': 63,
 'Don Juan DeMarco (1995)': 64,
 'Disclosure (1994)': 65,
 'Dolores Claiborne (1995)': 66,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 67,
 'Ed Wood (1994)': 68,
 'French Kiss (1995)': 69,
 'Hoop Dreams (1994)': 70,
 'Heavenly Creatures (1994)': 71,
 'I.Q. (1994)': 72,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 73,
 'Junior (1994)': 74,
 'Star Wars: Episode IV - A New Hope (1977)': 75,
 'Little Women (1994)': 76,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 77,
 'Legends of the Fall (1994)': 78,
 'Madness of King George, The (1994)': 79,
 "Mary Shelley's Frankenstein (Frankenstein) (1994)": 80,
 'Miracle on 34th Street (1994)': 81,
 'Nell (1994)': 82,
 'Natural Born Killers (1994)': 83,
 'Outbreak (1995)': 84,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 85,
 'Pulp Fiction (1994)': 86,
 'Quiz Show (1994)': 87,
 'Quick and the Dead, The (1995)': 88,
 'Three Colors: Red (Trois couleurs: Rouge) (1994)': 89,
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)': 90,
 'Specialist, The (1994)': 91,
 'Stargate (1994)': 92,
 'Santa Clause, The (1994)': 93,
 'Shawshank Redemption, The (1994)': 94,
 'Shallow Grave (1994)': 95,
 'Tank Girl (1995)': 96,
 'Star Trek: Generations (1994)': 97,
 'Tommy Boy (1995)': 98,
 "What's Eating Gilbert Grape (1993)": 99,
 'While You Were Sleeping (1995)': 100,
 "Muriel's Wedding (1994)": 101,
 'Ace Ventura: Pet Detective (1994)': 102,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 103,
 'Bullets Over Broadway (1994)': 104,
 'Clear and Present Danger (1994)': 105,
 'Client, The (1994)': 106,
 'Crow, The (1994)': 107,
 'Flintstones, The (1994)': 108,
 'Forrest Gump (1994)': 109,
 'Four Weddings and a Funeral (1994)': 110,
 'Jungle Book, The (1994)': 111,
 'Lion King, The (1994)': 112,
 'Mask, The (1994)': 113,
 'Maverick (1994)': 114,
 'Naked Gun 33 1/3: The Final Insult (1994)': 115,
 'Reality Bites (1994)': 116,
 'River Wild, The (1994)': 117,
 'Speed (1994)': 118,
 'True Lies (1994)': 119,
 'Addams Family Values (1993)': 120,
 'Airheads (1994)': 121,
 'Beverly Hills Cop III (1994)': 122,
 "Carlito's Way (1993)": 123,
 "City Slickers II: The Legend of Curly's Gold (1994)": 124,
 'Cliffhanger (1993)': 125,
 'Coneheads (1993)': 126,
 'Dave (1993)': 127,
 'Dazed and Confused (1993)': 128,
 'Demolition Man (1993)': 129,
 'Firm, The (1993)': 130,
 'Free Willy (1993)': 131,
 'Fugitive, The (1993)': 132,
 'Hot Shots! Part Deux (1993)': 133,
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)': 134,
 'Hudsucker Proxy, The (1994)': 135,
 'In the Line of Fire (1993)': 136,
 'In the Name of the Father (1993)': 137,
 'Jurassic Park (1993)': 138,
 'Last Action Hero (1993)': 139,
 'Executive Decision (1996)': 140,
 'Much Ado About Nothing (1993)': 141,
 'Mrs. Doubtfire (1993)': 142,
 'Philadelphia (1993)': 143,
 'Piano, The (1993)': 144,
 'Remains of the Day, The (1993)': 145,
 'Robin Hood: Men in Tights (1993)': 146,
 'Rudy (1993)': 147,
 "Schindler's List (1993)": 148,
 'Searching for Bobby Fischer (1993)': 149,
 'Secret Garden, The (1993)': 150,
 'Sleepless in Seattle (1993)': 151,
 'Blade Runner (1982)': 152,
 'So I Married an Axe Murderer (1993)': 153,
 'Nightmare Before Christmas, The (1993)': 154,
 'Three Musketeers, The (1993)': 155,
 'Tombstone (1993)': 156,
 'True Romance (1993)': 157,
 'Welcome to the Dollhouse (1995)': 158,
 'Brady Bunch Movie, The (1995)': 159,
 'Home Alone (1990)': 160,
 'Ghost (1990)': 161,
 'Aladdin (1992)': 162,
 'Terminator 2: Judgment Day (1991)': 163,
 'Dances with Wolves (1990)': 164,
 'Batman (1989)': 165,
 'Silence of the Lambs, The (1991)': 166,
 'Snow White and the Seven Dwarfs (1937)': 167,
 'Beauty and the Beast (1991)': 168,
 'Pinocchio (1940)': 169,
 'Pretty Woman (1990)': 170,
 'Fargo (1996)': 171,
 'Heavy Metal (1981)': 172,
 'Aristocats, The (1970)': 173,
 'Primal Fear (1996)': 174,
 'Courage Under Fire (1996)': 175,
 'Mission: Impossible (1996)': 176,
 'Dragonheart (1996)': 177,
 'James and the Giant Peach (1996)': 178,
 'Mystery Science Theater 3000: The Movie (1996)': 179,
 'Space Jam (1996)': 180,
 'Truth About Cats & Dogs, The (1996)': 181,
 'Multiplicity (1996)': 182,
 'Wallace & Gromit: The Best of Aardman Animation (1996)': 183,
 'Craft, The (1996)': 184,
 'Rock, The (1996)': 185,
 'Twister (1996)': 186,
 'Ghost in the Shell (Kôkaku kidôtai) (1995)': 187,
 'Spy Hard (1996)': 188,
 'Wallace & Gromit: A Close Shave (1995)': 189,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 190,
 'Striptease (1996)': 191,
 'Trainspotting (1996)': 192,
 'Independence Day (a.k.a. ID4) (1996)': 193,
 'Hunchback of Notre Dame, The (1996)': 194,
 'Cable Guy, The (1996)': 195,
 'Kingpin (1996)': 196,
 'Eraser (1996)': 197,
 'Nutty Professor, The (1996)': 198,
 'Frighteners, The (1996)': 199,
 'Lone Star (1996)': 200,
 'Phenomenon (1996)': 201,
 'Time to Kill, A (1996)': 202,
 'First Wives Club, The (1996)': 203,
 'Ransom (1996)': 204,
 'Emma (1996)': 205,
 'Escape from L.A. (1996)': 206,
 'Tin Cup (1996)': 207,
 'Godfather, The (1972)': 208,
 'Philadelphia Story, The (1940)': 209,
 "Singin' in the Rain (1952)": 210,
 "Breakfast at Tiffany's (1961)": 211,
 'Vertigo (1958)': 212,
 'Rear Window (1954)': 213,
 'North by Northwest (1959)': 214,
 'Some Like It Hot (1959)': 215,
 'Casablanca (1942)': 216,
 'Maltese Falcon, The (1941)': 217,
 'My Fair Lady (1964)': 218,
 'Roman Holiday (1953)': 219,
 'Wizard of Oz, The (1939)': 220,
 'Gone with the Wind (1939)': 221,
 'Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)': 222,
 'Citizen Kane (1941)': 223,
 '2001: A Space Odyssey (1968)': 224,
 "It's a Wonderful Life (1946)": 225,
 'Night of the Living Dead (1968)': 226,
 'African Queen, The (1951)': 227,
 '20,000 Leagues Under the Sea (1954)': 228,
 'Cool Runnings (1993)': 229,
 'Cinderella (1950)': 230,
 'Robin Hood: Prince of Thieves (1991)': 231,
 'Mary Poppins (1964)': 232,
 'Dumbo (1941)': 233,
 'Alice in Wonderland (1951)': 234,
 'Sound of Music, The (1965)': 235,
 'Die Hard (1988)': 236,
 'Lawnmower Man, The (1992)': 237,
 'That Thing You Do! (1996)': 238,
 'Long Kiss Goodnight, The (1996)': 239,
 "William Shakespeare's Romeo + Juliet (1996)": 240,
 'Swingers (1996)': 241,
 'Sleepers (1996)': 242,
 'Willy Wonka & the Chocolate Factory (1971)': 243,
 'Sleeper (1973)': 244,
 'Fish Called Wanda, A (1988)': 245,
 "Monty Python's Life of Brian (1979)": 246,
 'Bonnie and Clyde (1967)': 247,
 'Dirty Dancing (1987)': 248,
 'Reservoir Dogs (1992)': 249,
 'Platoon (1986)': 250,
 'Basic Instinct (1992)': 251,
 'Doors, The (1991)': 252,
 'Crying Game, The (1992)': 253,
 'Glengarry Glen Ross (1992)': 254,
 'E.T. the Extra-Terrestrial (1982)': 255,
 'Top Gun (1986)': 256,
 'Rebel Without a Cause (1955)': 257,
 'Streetcar Named Desire, A (1951)': 258,
 'People vs. Larry Flynt, The (1996)': 259,
 'Abyss, The (1989)': 260,
 'Escape from New York (1981)': 261,
 'Monty Python and the Holy Grail (1975)': 262,
 'Wallace & Gromit: The Wrong Trousers (1993)': 263,
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)': 264,
 'Delicatessen (1991)': 265,
 'Grifters, The (1990)': 266,
 'English Patient, The (1996)': 267,
 'Sex, Lies, and Videotape (1989)': 268,
 'Strictly Ballroom (1992)': 269,
 "One Flew Over the Cuckoo's Nest (1975)": 270,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 271,
 'Princess Bride, The (1987)': 272,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)': 273,
 'Brazil (1985)': 274,
 'Aliens (1986)': 275,
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)': 276,
 '12 Angry Men (1957)': 277,
 'Lawrence of Arabia (1962)': 278,
 'Clockwork Orange, A (1971)': 279,
 'To Kill a Mockingbird (1962)': 280,
 'Apocalypse Now (1979)': 281,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 282,
 'Third Man, The (1949)': 283,
 'Goodfellas (1990)': 284,
 'Alien (1979)': 285,
 'Army of Darkness (1993)': 286,
 'Psycho (1960)': 287,
 'Blues Brothers, The (1980)': 288,
 'Godfather: Part II, The (1974)': 289,
 'Full Metal Jacket (1987)': 290,
 'Grand Day Out with Wallace and Gromit, A (1989)': 291,
 'Amadeus (1984)': 292,
 'Raging Bull (1980)': 293,
 'Annie Hall (1977)': 294,
 'Right Stuff, The (1983)': 295,
 'Boot, Das (Boat, The) (1981)': 296,
 'Sting, The (1973)': 297,
 'Harold and Maude (1971)': 298,
 'Terminator, The (1984)': 299,
 'Glory (1989)': 300,
 'Manhattan (1979)': 301,
 "Miller's Crossing (1990)": 302,
 'Dead Poets Society (1989)': 303,
 'Graduate, The (1967)': 304,
 'Femme Nikita, La (Nikita) (1990)': 305,
 'Bridge on the River Kwai, The (1957)': 306,
 'Chinatown (1974)': 307,
 'Day the Earth Stood Still, The (1951)': 308,
 'Shining, The (1980)': 309,
 'Stand by Me (1986)': 310,
 'Evil Dead II (Dead by Dawn) (1987)': 311,
 'Great Escape, The (1963)': 312,
 'Deer Hunter, The (1978)': 313,
 'Groundhog Day (1993)': 314,
 'Unforgiven (1992)': 315,
 'Manchurian Candidate, The (1962)': 316,
 'Arsenic and Old Lace (1944)': 317,
 'Back to the Future (1985)': 318,
 'Fried Green Tomatoes (1991)': 319,
 'Patton (1970)': 320,
 'Akira (1988)': 321,
 'Highlander (1986)': 322,
 'Cool Hand Luke (1967)': 323,
 'Young Frankenstein (1974)': 324,
 'Fantasia (1940)': 325,
 'Heathers (1989)': 326,
 'Ben-Hur (1959)': 327,
 'This Is Spinal Tap (1984)': 328,
 'Indiana Jones and the Last Crusade (1989)': 329,
 'Being There (1979)': 330,
 'Gandhi (1982)': 331,
 'Room with a View, A (1986)': 332,
 'Pink Floyd: The Wall (1982)': 333,
 'Killing Fields, The (1984)': 334,
 'Field of Dreams (1989)': 335,
 'Butch Cassidy and the Sundance Kid (1969)': 336,
 'When Harry Met Sally... (1989)': 337,
 'Alien³ (a.k.a. Alien 3) (1992)': 338,
 'American Werewolf in London, An (1981)': 339,
 'Birds, The (1963)': 340,
 "Dracula (Bram Stoker's Dracula) (1992)": 341,
 'Cape Fear (1991)': 342,
 'Carrie (1976)': 343,
 'Nightmare on Elm Street, A (1984)': 344,
 'Star Trek: First Contact (1996)': 345,
 'Shine (1996)': 346,
 'Sling Blade (1996)': 347,
 '101 Dalmatians (1996)': 348,
 'Die Hard 2 (1990)': 349,
 'Star Trek: The Motion Picture (1979)': 350,
 'Star Trek VI: The Undiscovered Country (1991)': 351,
 'Star Trek V: The Final Frontier (1989)': 352,
 'Star Trek II: The Wrath of Khan (1982)': 353,
 'Star Trek III: The Search for Spock (1984)': 354,
 'Star Trek IV: The Voyage Home (1986)': 355,
 'Batman Returns (1992)': 356,
 'Young Guns (1988)': 357,
 'Grease (1978)': 358,
 'Under Siege (1992)': 359,
 'Jaws (1975)': 360,
 'Mars Attacks! (1996)': 361,
 'Jerry Maguire (1996)': 362,
 'Raising Arizona (1987)': 363,
 'Sneakers (1992)': 364,
 'Beavis and Butt-Head Do America (1996)': 365,
 'Scream (1996)': 366,
 'Last of the Mohicans, The (1992)': 367,
 'Michael (1996)': 368,
 'Hamlet (1996)': 369,
 "Dante's Peak (1997)": 370,
 'Donnie Brasco (1997)': 371,
 'Saint, The (1997)': 372,
 'Liar Liar (1997)': 373,
 'Anaconda (1997)': 374,
 'Grosse Pointe Blank (1997)': 375,
 "Romy and Michele's High School Reunion (1997)": 376,
 'Austin Powers: International Man of Mystery (1997)': 377,
 'Fifth Element, The (1997)': 378,
 'Lost World: Jurassic Park, The (1997)': 379,
 'Con Air (1997)': 380,
 'Batman & Robin (1997)': 381,
 'Hercules (1997)': 382,
 "My Best Friend's Wedding (1997)": 383,
 'Face/Off (1997)': 384,
 'Men in Black (a.k.a. MIB) (1997)': 385,
 'Contact (1997)': 386,
 'G.I. Jane (1997)': 387,
 'Conan the Barbarian (1982)': 388,
 'Event Horizon (1997)': 389,
 'Conspiracy Theory (1997)': 390,
 'Air Force One (1997)': 391,
 'Hunt for Red October, The (1990)': 392,
 'L.A. Confidential (1997)': 393,
 'Game, The (1997)': 394,
 'Chasing Amy (1997)': 395,
 'Full Monty, The (1997)': 396,
 'I Know What You Did Last Summer (1997)': 397,
 "The Devil's Advocate (1997)": 398,
 'Gattaca (1997)': 399,
 'Stripes (1981)': 400,
 'Boogie Nights (1997)': 401,
 'Witness (1985)': 402,
 'Starship Troopers (1997)': 403,
 'Sliding Doors (1998)': 404,
 'Truman Show, The (1998)': 405,
 'Alien: Resurrection (1997)': 406,
 'Good Will Hunting (1997)': 407,
 'Scream 2 (1997)': 408,
 'Titanic (1997)': 409,
 'Tomorrow Never Dies (1997)': 410,
 'Jackie Brown (1997)': 411,
 'Big Lebowski, The (1998)': 412,
 'Wag the Dog (1997)': 413,
 'Dark City (1998)': 414,
 'Wedding Singer, The (1998)': 415,
 'Sphere (1998)': 416,
 'As Good as It Gets (1997)': 417,
 'Man in the Iron Mask, The (1998)': 418,
 'Wild Things (1998)': 419,
 'Lost in Space (1998)': 420,
 'Deep Impact (1998)': 421,
 'Godzilla (1998)': 422,
 'Fear and Loathing in Las Vegas (1998)': 423,
 'Mulan (1998)': 424,
 'X-Files: Fight the Future, The (1998)': 425,
 'Dr. Dolittle (1998)': 426,
 'Out of Sight (1998)': 427,
 'Armageddon (1998)': 428,
 'Lethal Weapon 4 (1998)': 429,
 'Pi (1998)': 430,
 "There's Something About Mary (1998)": 431,
 'West Side Story (1961)': 432,
 'Midnight Cowboy (1969)': 433,
 'French Connection, The (1971)': 434,
 'Rocky (1976)': 435,
 'Chariots of Fire (1981)': 436,
 'Last Emperor, The (1987)': 437,
 'Rain Man (1988)': 438,
 'Driving Miss Daisy (1989)': 439,
 'Repo Man (1984)': 440,
 'Labyrinth (1986)': 441,
 'Breakfast Club, The (1985)': 442,
 'Halloween (1978)': 443,
 'Poltergeist (1982)': 444,
 'Exorcist, The (1973)': 445,
 'Lethal Weapon (1987)': 446,
 'Lethal Weapon 2 (1989)': 447,
 'Lethal Weapon 3 (1992)': 448,
 'Gremlins (1984)': 449,
 'Goonies, The (1985)': 450,
 'Mask of Zorro, The (1998)': 451,
 'Back to the Future Part II (1989)': 452,
 'Back to the Future Part III (1990)': 453,
 'Bambi (1942)': 454,
 'Seven Samurai (Shichinin no samurai) (1954)': 455,
 'Dangerous Liaisons (1988)': 456,
 'Dune (1984)': 457,
 'Godfather: Part III, The (1990)': 458,
 'Saving Private Ryan (1998)': 459,
 'Honey, I Shrunk the Kids (1989)': 460,
 'Negotiator, The (1998)': 461,
 'Roger & Me (1989)': 462,
 'Blue Velvet (1986)': 463,
 'Jungle Book, The (1967)': 464,
 'Lady and the Tramp (1955)': 465,
 'Little Mermaid, The (1989)': 466,
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)': 467,
 'Peter Pan (1953)': 468,
 'Rocketeer, The (1991)': 469,
 'Sleeping Beauty (1959)': 470,
 'Splash (1984)': 471,
 'Tron (1982)': 472,
 'L.A. Story (1991)': 473,
 'Jerk, The (1979)': 474,
 'Indiana Jones and the Temple of Doom (1984)': 475,
 'Addams Family, The (1991)': 476,
 'Ever After: A Cinderella Story (1998)': 477,
 'Weird Science (1985)': 478,
 'Dark Crystal, The (1982)': 479,
 'Sixteen Candles (1984)': 480,
 'Pretty in Pink (1986)': 481,
 'Gods Must Be Crazy, The (1980)': 482,
 "Rosemary's Baby (1968)": 483,
 'NeverEnding Story, The (1984)': 484,
 'Blade (1998)': 485,
 'Beetlejuice (1988)': 486,
 'Willow (1988)': 487,
 'Untouchables, The (1987)': 488,
 'Rounders (1998)': 489,
 'Cube (1997)': 490,
 'Say Anything... (1989)': 491,
 'Few Good Men, A (1992)': 492,
 'Rush Hour (1998)': 493,
 'Ronin (1998)': 494,
 'Thing, The (1982)': 495,
 'Player, The (1992)': 496,
 'Edward Scissorhands (1990)': 497,
 'Antz (1998)': 498,
 'Producers, The (1968)': 499,
 'My Cousin Vinny (1992)': 500,
 'Elephant Man, The (1980)': 501,
 'Pleasantville (1998)': 502,
 'Life Is Beautiful (La Vita è bella) (1997)': 503,
 'American History X (1998)': 504,
 'Waterboy, The (1998)': 505,
 'Elizabeth (1998)': 506,
 'Big Chill, The (1983)': 507,
 'Enemy of the State (1998)': 508,
 "Bug's Life, A (1998)": 509,
 'Waking Ned Devine (a.k.a. Waking Ned) (1998)': 510,
 'King Kong (1933)': 511,
 'Fletch (1985)': 512,
 'Police Academy (1984)': 513,
 'Simple Plan, A (1998)': 514,
 'Star Trek: Insurrection (1998)': 515,
 'Prince of Egypt, The (1998)': 516,
 'Rushmore (1998)': 517,
 'Shakespeare in Love (1998)': 518,
 'First Blood (Rambo: First Blood) (1982)': 519,
 'Jewel of the Nile, The (1985)': 520,
 'Romancing the Stone (1984)': 521,
 'Cocoon (1985)': 522,
 'Karate Kid, The (1984)': 523,
 'Karate Kid, Part II, The (1986)': 524,
 "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)": 525,
 "You've Got Mail (1998)": 526,
 'Thin Red Line, The (1998)': 527,
 'Patch Adams (1998)': 528,
 'Fly, The (1986)': 529,
 'Crocodile Dundee (1986)': 530,
 '¡Three Amigos! (1986)': 531,
 "She's All That (1999)": 532,
 'Payback (1999)': 533,
 'October Sky (1999)': 534,
 'Office Space (1999)': 535,
 'Planet of the Apes (1968)': 536,
 'Analyze This (1999)': 537,
 'Cruel Intentions (1999)': 538,
 'Lock, Stock & Two Smoking Barrels (1998)': 539,
 'Matrix, The (1999)': 540,
 '10 Things I Hate About You (1999)': 541,
 'Go (1999)': 542,
 'Never Been Kissed (1999)': 543,
 'Election (1999)': 544,
 'Entrapment (1999)': 545,
 'Dick Tracy (1990)': 546,
 'Mummy, The (1999)': 547,
 'Star Wars: Episode I - The Phantom Menace (1999)': 548,
 'Superman (1978)': 549,
 'Superman II (1980)': 550,
 'Rocky Horror Picture Show, The (1975)': 551,
 'Notting Hill (1999)': 552,
 'Austin Powers: The Spy Who Shagged Me (1999)': 553,
 'Red Violin, The (Violon rouge, Le) (1998)': 554,
 'Tarzan (1999)': 555,
 'Run Lola Run (Lola rennt) (1998)': 556,
 'Big Daddy (1999)': 557,
 'Arachnophobia (1990)': 558,
 'South Park: Bigger, Longer and Uncut (1999)': 559,
 'Wild Wild West (1999)': 560,
 'American Pie (1999)': 561,
 'Arlington Road (1999)': 562,
 'Blair Witch Project, The (1999)': 563,
 'Eyes Wide Shut (1999)': 564,
 'Ghostbusters (a.k.a. Ghost Busters) (1984)': 565,
 'Ghostbusters II (1989)': 566,
 'Deep Blue Sea (1999)': 567,
 'Mystery Men (1999)': 568,
 'Runaway Bride (1999)': 569,
 'Little Shop of Horrors (1986)': 570,
 'Iron Giant, The (1999)': 571,
 'Sixth Sense, The (1999)': 572,
 'Thomas Crown Affair, The (1999)': 573,
 'Bowfinger (1999)': 574,
 'Airplane! (1980)': 575,
 "National Lampoon's Vacation (1983)": 576,
 'Big (1988)': 577,
 'Christmas Story, A (1983)': 578,
 '13th Warrior, The (1999)': 579,
 'American Beauty (1999)': 580,
 'Deliverance (1972)': 581,
 'Excalibur (1981)': 582,
 'Double Jeopardy (1999)': 583,
 'Three Kings (1999)': 584,
 "Boys Don't Cry (1999)": 585,
 'Risky Business (1983)': 586,
 'Total Recall (1990)': 587,
 "Ferris Bueller's Day Off (1986)": 588,
 'Dirty Dozen, The (1967)': 589,
 'Goldfinger (1964)': 590,
 'From Russia with Love (1963)': 591,

In [17]:
# Transform the matrix to scipy sparse matrix
movie_user_matrix_sparse = csr_matrix(movie_user_matrix.values)
movie_user_matrix_sparse

<1000x280514 sparse matrix of type '<class 'numpy.float64'>'
	with 17051401 stored elements in Compressed Sparse Row format>

In [18]:
# Fit the model
model_knn = NearestNeighbors(
    metric='cosine',
    algorithm='brute',
    n_neighbors=20,
    n_jobs=-1
)
model_knn.fit(movie_user_matrix_sparse)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [26]:
# Assume a given movie name and number of recommendations for testing
movie_name = "Grease"
num_recommendations = 10

In [27]:
# Get corresponding movie id
idx = [hashmap[key] for key in hashmap if movie_name.lower() in key.lower()]

if idx:
    distances, indices = model_knn.kneighbors(
        movie_user_matrix_sparse[idx],
        n_neighbors=int(num_recommendations) + 1
    )

    raw_recommends = sorted(
            list(
                zip(
                    indices.squeeze().tolist(),
                    distances.squeeze().tolist()
                )
            ),
            key=lambda x: x[1]
        )[:0:-1]

    # Get movie titles
    reverse_hashmap = {v: k for k, v in hashmap.items()}
    recommendations = [reverse_hashmap[i[0]] for i in raw_recommends]
else:
    recommendations = ['Sorry that title does not exists']

print(recommendations)

['Big (1988)', 'E.T. the Extra-Terrestrial (1982)', 'Top Gun (1986)', 'When Harry Met Sally... (1989)', 'Honey, I Shrunk the Kids (1989)', 'Wizard of Oz, The (1939)', 'Little Mermaid, The (1989)', 'Sound of Music, The (1965)', 'Mary Poppins (1964)', 'Dirty Dancing (1987)']